.feed {
    padding: 79px 0 49px 0;
    &__item {
        display: flex;
        margin-top: 60px;
        &:nth-child(2) {
            margin-top: 70px;
        }
    }

    &__img {
        height: 169px;
        width: 169px;
    }
    &__text {
        margin-left: 62px;
        padding-right: 60px;
    }
    &__subtitle {
        color: #0D0D0D;
        font-weight: 700;
        font-size: 18px;
    }
    &__count {
        color: #646464;
        font-weight: 500;
        font-size: 14px;
    }
    &__descr {
        color: #0D0D0D;
        font-weight: 300;
        font-size: 16px;
        margin-top: 10px;
    }
}